rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdminForEvent(eventId) {
      let event = firestore.get(
        /databases/(default)/documents/events/$(eventId));
      return event != null
        && request.auth != null
        && event.data.admins != null
        && request.auth.uid in event.data.admins;
    }

    match /{eventId}/original/{userId}/{fileName} {
      function isOwner() {
        return request.auth != null && request.auth.uid == userId;
      }

      function isApprovedForEvent() {
        let approval = firestore.get(
          /databases/(default)/documents/events/$(eventId)/approvals/$(request.auth.uid));
        return approval != null && approval.data.status == 'Approved';
      }

      // Only the file owner (an approved operator for this event) may upload
      allow write: if isOwner()
        && isApprovedForEvent();

      // Owners may read/list their own uploads; event admins may read any upload
      allow read: if isOwner() || isAdminForEvent(eventId);
    }

    match /{eventId}/combined.adi {
      // Only event admins may read the final combined ADIF file.
      allow read: if isAdminForEvent(eventId);
    }
  }
}
