<div class="container">
  <form [formGroup]="settingsForm" (ngSubmit)="save()">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>User Settings</mat-card-title>
        <mat-card-subtitle>
          These will be used to fill in your shift reservations.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="me@example.com"
            [value]="(email | async) || ''"
            [disabled]="true"
            [required]="true"
          />
          @if ((user$ | async)?.emailVerified) {
            <mat-icon matSuffix color="accent" title="Email verified"
              >verified</mat-icon
            >
          } @else {
            <mat-icon matSuffix color="warn" title="Email not verified"
              >help_outline</mat-icon
            >
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Personal Callsign</mat-label>
          <input
            class="callsign"
            matInput
            placeholder="T3ST"
            [formControl]="callsign"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="John Doe" [formControl]="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input matInput placeholder="303-867-5309" [formControl]="phone" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>6-digit Grid Square</mat-label>
          <input matInput placeholder="DM79lw" [formControl]="gridSquare" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>ARRL Member Number</mat-label>
          <input
            matInput
            placeholder="1234567"
            [formControl]="arrlMemberNumber"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Discord Username</mat-label>
          <input
            matInput
            placeholder="username#1234"
            [formControl]="discordUsername"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <input
            matInput
            [value]="(status | async) ?? 'Provisional'"
            [disabled]="true"
            [required]="true"
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          #saveButton
          [disabled]="!settingsForm.valid"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
