@use '@angular/material' as mat;
@import '../../../theme';

.cell-container {
  display: flex;
  align-items: center;
}

button {
  width: 100%;
}

.callsign {
  font-family: 'DM Mono, monospace';
  font-size: 14px;
  line-height: 1.5;
}
