@use '@angular/material' as mat;
@use 'sass:map';
@use '../../../theme-colors' as my-theme;

.cell-container {
  display: flex;
  align-items: center;
}

button {
  width: 100%;

  &.reserved-by-user {
    background-color: map.get(
      map.get(my-theme.$primary-palette, secondary),
      90
    );
    color: map.get(map.get(my-theme.$primary-palette, secondary), 10);

    &:hover:not([disabled]) {
      background-color: map.get(
        map.get(my-theme.$primary-palette, secondary),
        80
      );
    }
  }

  &.reserved-by-other {
    background-color: map.get(my-theme.$primary-palette, 90);
    color: map.get(my-theme.$primary-palette, 10);

    &:hover:not([disabled]) {
      background-color: map.get(my-theme.$primary-palette, 80);
    }
  }
}

.callsign {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
}
