@use '@angular/material' as mat;
@import '../../../theme';

.cell-container {
  display: flex;
  align-items: center;
}

button {
  width: 100%;
}

.callsign {
  @include mat.typography-level($kel-mono-typography, 'body-1');
}
