<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Log In to {{ appName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-stroked-button (click)="loginGoogle()">
        <div class="button-content">
          <img class="logo" src="/assets/google-logo.svg" alt="Google Logo" />
          <span>Continue with Google</span>
        </div>
      </button>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="you@example.com" [(ngModel)]="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" />
      </mat-form-field>
      <button mat-stroked-button (click)="loginEmailPass()">
        <span>Log In</span>
      </button>
      <button mat-stroked-button (click)="forgotPassword()">
        <span>Forgot Password?</span>
      </button>
      <button mat-stroked-button (click)="createEmailPass()">
        <span>Create Account</span>
      </button>
    </mat-card-content>
  </mat-card>
</div>
