<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Viewing shifts for
        {{ viewDay | date : 'fullDate' : 'UTC' }} (UTC)
      </mat-card-title>
      <div class="top-actions">
        <button
          mat-flat-button
          color="primary"
          aria-label="Previous Day"
          (click)="goToPrevDay()"
          [disabled]="prevDay < TIME_SLOTS_START"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Band Group</mat-label>
          <mat-select [(value)]="viewBandGroup" (valueChange)="changeParams()">
            <mat-option
              *ngFor="let bandGroup of bandGroups.keys()"
              [value]="bandGroup"
            >
              {{ bandGroup }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Mode</mat-label>
          <mat-select [(value)]="viewMode" (valueChange)="changeParams()">
            <mat-option *ngFor="let mode of MODES" [value]="mode">
              {{ mode }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          aria-label="Next Day"
          (click)="goToNextDay()"
          [disabled]="nextDay >= TIME_SLOTS_END"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <th>UTC</th>
          <th>Local</th>
          <th *ngFor="let band of bandGroups.get(viewBandGroup)">
            {{ band }}m {{ viewMode }}
          </th>
        </tr>
        <tr *ngFor="let timeslot of timeSlots">
          <th>{{ timeslot | date : 'HH:mm' : 'UTC' }}</th>
          <td>{{ timeslot | date : 'MMM d, HH:mm' }}</td>
          <td *ngFor="let band of bandGroups.get(viewBandGroup)">
            <kel-schedule-cell
              [timeslot]="timeslot"
              [band]="band"
              [mode]="viewMode"
            />
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
