@use '@angular/material' as mat;
@import '../../theme';

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  flex: 1 1 0;
  margin: 8px;
}

mat-card-header {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  flex: 1 1 0;
}

div.top-actions {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

mat-form-field {
  margin: 0 8px;
}

button {
  margin: 0 8px;
}

button.button-secondary-color {
  @include mat.button-overrides(
    (
      filled-container-color: mat.get-theme-color($kel-theme, secondary),
    )
  );
}

.mat-column-localTime {
  padding-right: 2px;
}

.mat-column-localTimeIcon {
  padding-left: 2px;
}
