<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Viewing shifts for
        {{ viewDay | date : 'fullDate' : 'UTC' }} (UTC)
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <th>UTC</th>
          <th>Local</th>
          <th>80m phone</th>
          <th>40m phone</th>
          <th>20m phone</th>
        </tr>
        <tr *ngFor="let timeslot of timeSlots">
          <th>{{ timeslot | date : 'HH:mm' : 'UTC' }}</th>
          <td>{{ timeslot | date : 'MMM d, HH:mm' }}</td>
          <td>
            {{
              (findShift(timeslot, '80m', 'phone') | async)?.reservedBy ||
                'open'
            }}
          </td>
          <td>
            {{
              (findShift(timeslot, '40m', 'phone') | async)?.reservedBy ||
                'open'
            }}
          </td>
          <td>
            {{
              (findShift(timeslot, '20m', 'phone') | async)?.reservedBy ||
                'open'
            }}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
