<div class="container">
  <mat-card>
    <mat-card-content>
      <p>
        This scheduling tool helps organize operators for W1AW/portable
        operations as part of the ARRL's
        <a href="https://www.arrl.org/america250-was"
          >America250 Worked All States</a
        >
        award program. Select an event from the menu to view the schedule or
        manage your agenda.
      </p>

      <p>
        If you would like to apply to operate, please download your event's
        rules and requirements and contact your event coordinator to submit your
        application.
      </p>

      <p>
        If you would like to participate and do not have access to an
        appropriate station, please contact your event coordinator who may be
        able to match you up with a station.
      </p>

      <p>
        Approved operators must use an approved electronic logging program
        capable of creating an ADIF file.
      </p>

      <p>
        All approved operators are expected to observe all FCC regulations,
        including only operating on frequencies allocated to their license class
        and at permitted power levels.
        <em>Violators, may The Old Man be merciful, will be Wouff Honged!</em>
      </p>
    </mat-card-content>
  </mat-card>
</div>
