.container {
  display: flex;
  justify-content: center;
}

mat-card {
  flex: 1 1 0;
  margin: 8px;
  max-width: 800px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 16px;
}

.button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
