@use '@angular/material' as mat;
@import '../../../theme';

textarea {
  width: 800px;
  height: 200px;
}

.callsign {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
}
