@use '@angular/material' as mat;
@use '../../../theme';

textarea {
  width: 800px;
  height: 200px;
}

.callsign {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
}

.cell-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}

.cell-container mat-icon,
.cell-container span {
  flex: 0 0 auto;
}

.cell-container div.spacer {
  flex: 1 1 auto;
}

mat-icon.open-in-new {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
