@use '@angular/material' as mat;
@import '../theme';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.toolbar {
  background-color: var(--mat-toolbar-container-background-color);
  color: var(--mat-toolbar-container-text-color);
  z-index: 2;
  box-shadow: 0 1px rgba(0, 0, 0, 0.12);
  display: flex;
}

.logo {
  max-width: 56px;
  height: 100%;
  margin-right: 16px;
}

a.app-title {
  display: contents;
  text-decoration: none;

  :hover {
    text-decoration: none;
  }

  :visited {
    text-decoration: none;
  }
}

h1.app-title {
  background-color: var(--mat-toolbar-container-background-color);
  color: var(--mat-toolbar-container-text-color);
  margin: 0 0 0 0;
}

.app-subtitle {
  background-color: var(--mat-toolbar-container-background-color);
  color: var(--mat-toolbar-container-text-color);
  margin: 16px 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (max-width: 959px) {
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.toolbar__menu-button {
  background-color: var(--mat-toolbar-container-background-color);
  color: var(--mat-toolbar-container-text-color);
  margin-right: 8px;
}

mat-sidenav {
  width: 240px;
}

mat-divider {
  margin-top: 64px;
}

.page {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}
