<mat-toolbar class="toolbar">
  <button
    class="toolbar__menu-button"
    mat-icon-button
    (click)="sidenav.toggle()"
    aria-label="Application Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a class="app-title" routerLink="/">
    <img
      class="logo"
      alt="App logo"
      ngSrc="assets/ARRL_colorado.svg"
      width="60"
      height="60"
    />
    <h1 class="app-title mat-headline-4">{{ appName }}</h1>
  </a>
  <div class="spacer"></div>
  <kel-avatar></kel-avatar>
</mat-toolbar>
<mat-sidenav-container class="page">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="/user">
        <mat-icon matListItemIcon>person</mat-icon>
        My Settings
      </mat-list-item>
      <mat-list-item routerLink="/schedule">
        <mat-icon matListItemIcon>calendar_month</mat-icon>
        Full Schedule
      </mat-list-item>
      <mat-list-item routerLink="/agenda">
        <mat-icon matListItemIcon>event_available</mat-icon>
        My Agenda
      </mat-list-item>
      <mat-divider></mat-divider>
      @if (userIsAdmin$ | async) {
        <mat-list-item routerLink="/approvals">
          <mat-icon matListItemIcon>verified</mat-icon>
          Approve Users
        </mat-list-item>
        <mat-divider></mat-divider>
      }
      <a
        mat-list-item
        href="https://github.com/k0swe/w1aw-schedule/issues"
        target="_blank"
      >
        <mat-icon matListItemIcon>bug_report</mat-icon>
        Bugs Reports and <br />
        Feature Requests
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-container class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
