<mat-toolbar class="toolbar">
  <button
    class="toolbar__menu-button"
    mat-icon-button
    (click)="sidenav.toggle()"
    aria-label="Application Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a class="app-title" routerLink="/">
    <img
      class="logo"
      alt="App logo"
      ngSrc="assets/Colorado_WAS250.svg"
      width="60"
      height="60"
    />
    <h1 class="app-title mat-headline-4">{{ appName }}</h1>
  </a>
  <div class="spacer"></div>
  <kel-avatar></kel-avatar>
</mat-toolbar>
<mat-sidenav-container class="page">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="/user">
        <mat-icon matListItemIcon>person</mat-icon>
        My Settings
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-card class="event-selector-card">
        <mat-select
          class="event-selector"
          [value]="selectedEvent$ | async"
          (selectionChange)="onEventChange($event.value)"
          placeholder="Select Event"
        >
          @for (event of events$ | async; track event.id) {
            <mat-option [value]="event">{{ event.name }}</mat-option>
          }
        </mat-select>
        @if (selectedEvent$ | async; as selectedEvent) {
          <mat-list-item [routerLink]="'/events/' + selectedEvent.slug + '/schedule'">
            <mat-icon matListItemIcon>calendar_month</mat-icon>
            Full Schedule
          </mat-list-item>
          <mat-list-item [routerLink]="'/events/' + selectedEvent.slug + '/agenda'">
            <mat-icon matListItemIcon>event_available</mat-icon>
            My Agenda
          </mat-list-item>
          @if (userIsAdmin$ | async) {
            <mat-list-item
              [routerLink]="'/events/' + selectedEvent.slug + '/approvals'"
            >
              <mat-icon matListItemIcon>verified</mat-icon>
              Approve Users
            </mat-list-item>
          }
        }
      </mat-card>
      <mat-divider></mat-divider>
      @if (userIsSuperAdmin$ | async) {
        <mat-list-item routerLink="/init-shifts">
          <mat-icon matListItemIcon>settings</mat-icon>
          Initialize Shifts
        </mat-list-item>
        <mat-divider></mat-divider>
      }
      <a
        mat-list-item
        href="https://github.com/k0swe/w1aw-schedule/issues"
        target="_blank"
      >
        <mat-icon matListItemIcon>bug_report</mat-icon>
        Bugs Reports and <br />
        Feature Requests
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-container class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
