<mat-card>
  <mat-card-header>
    <mat-card-title>User Approvals</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Pending">
        <table mat-table [dataSource]="provisionalUsers$">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">
              <mat-icon>person</mat-icon>
              {{ user.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="callsign">
            <th mat-header-cell *matHeaderCellDef>Callsign</th>
            <td mat-cell *matCellDef="let user">
              {{ user.callsign || 'No callsign' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">
              {{ user.email }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let user">
              <button
                mat-icon-button
                color="primary"
                [disabled]="!user.callsign"
                (click)="approve(user.id)"
                title="Approve"
              >
                <mat-icon>thumb_up</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="decline(user.id)"
                title="Decline"
              >
                <mat-icon>thumb_down</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="pendingDisplayColumns"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: pendingDisplayColumns"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="pendingDisplayColumns.length">
              No pending approvals.
            </td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="Approved">
        <table mat-table [dataSource]="approvedUsers$">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">
              <mat-icon>person</mat-icon>
              {{ user.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="callsign">
            <th mat-header-cell *matHeaderCellDef>Callsign</th>
            <td mat-cell *matCellDef="let user">
              {{ user.callsign || 'No callsign' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">
              {{ user.email }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let user">
              <mat-slide-toggle
                color="primary"
                [checked]="user.multiShift"
                (click)="setMultiShift(user.id, !user.multiShift)"
                title="Multiple Shifts at a Time"
              >
                Multi
              </mat-slide-toggle>
              <button
                mat-icon-button
                color="warn"
                (click)="decline(user.id)"
                title="Decline"
              >
                <mat-icon>thumb_down</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="approvedDisplayColumns"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: approvedDisplayColumns"
          ></tr>
        </table>
        <div>Email list:</div>
        <textarea contenteditable="false" [value]="approvedEmails"></textarea>
      </mat-tab>
      <mat-tab label="Declined">
        <table mat-table [dataSource]="declinedUsers$">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">
              <mat-icon>person</mat-icon>
              {{ user.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="callsign">
            <th mat-header-cell *matHeaderCellDef>Callsign</th>
            <td mat-cell *matCellDef="let user">
              {{ user.callsign || 'No callsign' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">
              {{ user.email }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let user">
              <button
                mat-icon-button
                color="primary"
                (click)="approve(user.id)"
                title="Approve"
              >
                <mat-icon>thumb_up</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="delete(user.id)"
                title="Delete"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="declinedDisplayColumns"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: declinedDisplayColumns"
          ></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
