@use '@angular/material' as mat;
@import './theme';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Include the core styles for Material 3
@include mat.core();

// Include all component themes using Material 3 theme
@include mat.all-component-themes($kel-theme);

// Global styles.
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  color: #212121;
  background-color: #f3f3f3;
  font-family: 'Open Sans, Helvetica Neue, sans-serif';
  line-height: 1.5;
  font-size: 14px;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
