<div class="container">
  <mat-card>
    <mat-card-content>
      <p>
        If you wish to be one of the official W1AW/0 authorized operators for
        Colorado, contact the Colorado VOTA Coordinator: Amanda Alden K1DDN, at
        <a href="mailto:K1DDN@arrl.org">K1DDN@arrl.org</a>. When approved, you
        may, subject to the coordinator’s approval, select any available
        two-hour operating time slot for the band and mode (SSB, CW, Digital) of
        your choice, except operation on 12 Meters, 17 Meters, 30 Meters, 60
        Meters, 630 Meters, and 2190 Meters is prohibited.
      </p>

      <p>
        Approved operators must use an approved electronic logging program
        capable of creating an ADIF file. Email your completed logs to
        <a href="mailto:K1DDN@arrl.org">K1DDN@arrl.org</a>
        within 48 hours of your final time slot.
      </p>

      <p>
        All approved W1AW/0 operators are expected to observe all FCC
        regulations, including only operating on frequencies allocated to their
        license class and at permitted power levels.
        <em> Violators, may The Old Man be merciful, will be Wouff Honged! </em>
      </p>
    </mat-card-content>
  </mat-card>
</div>
