.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

mat-card.inner {
  flex: 1 1 0;
  margin: 8px;
}

.inner mat-card-header {
  display: flex;
  flex-direction: column;
}

.inner mat-card-title {
  flex: 1 1 0;
}

button {
  margin: 8px;
}
