<div class="container">
  <mat-card *ngFor="let shift of userShifts$ | async">
    <mat-card-header>
      <mat-card-title>
        {{ shift.time.toDate() | date : 'fullDate' : 'America/Denver' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ shift.time.toDate() | date : 'HH:mm' : 'America/Denver' }}
      MDT for two hours:
      {{ shift.band }}m
      {{ shift.mode }}
    </mat-card-content>
  </mat-card>
  <div>
    <button mat-flat-button color="primary" (click)="copyIcsLink()">
      My calendar subscription link
    </button>
    <button mat-flat-button color="primary" (click)="downloadIcs()">
      Download my iCalendar file
    </button>
  </div>
</div>
